.header {
  margin-top: 20px;
  margin-bottom: 15px;
}

.header__inner {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__wrapper {
  position: relative;
  display: block;
  margin-left: 25px;
}

.header__title {
  font-size: 14px;
  font-weight: 700;
}

.header__desc, .header__tel {
  color: #242424;
  line-height: 20px;
  font-size: 12px;
  font-weight: 400;
}

.header__photo {
  position: absolute;
  left: -22px;
  top: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1165px) {
  header {
    display: none;
  }
}

.intro {
  position: relative;
  max-width: 100%;
  min-height: 700px;
  background: url("../img/intro/intro-bg.webp") center center/cover no-repeat;
}

.intro__inner {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .link__item {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 50px;
}

.intro .link__item:last-child {
  margin-right: 0;
}

.intro .link__item:hover {
  text-decoration: underline;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__title {
  margin-top: 130px;
  max-width: 530px;
  color: #ffffff;
  font-size: 42px;
  font-weight: 800;
  line-height: 48px;
}

.intro__text {
  max-width: 430px;
  margin-top: 25px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.intro__text span {
  font-weight: 400;
}

.intro__btn {
  margin-top: 60px;
}

.intro__phone {
  position: absolute;
  bottom: -4px;
  left: 57%;
}

.btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding: 21px 46px 21px 45px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
  background-color: #00c2f0;
  border-radius: 6px;
  text-decoration: none;
  border-color: #00c2f0;
}

.btn:hover {
  background-color: #00ADD9;
}

.advantage {
  min-height: 780px;
  width: 100%;
  background-color: #fff;
}

.advantage__wrapper {
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantage__block {
  position: relative;
}

.advantage__text {
  position: absolute;
  top: 180px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  max-width: 180px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.advantage__center--wrapper {
  text-align: center;
}

.advantage__title {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.advantage__wrapper--second {
  margin-top: 30px;
}

.slider {
  width: 100%;
  height: 890px;
  background: url(../img/slider/macbook-air.jpg) center center/cover no-repeat;
}

.slider__wrapper {
  color: #fff;
  text-align: center;
}

.slider__title {
  font-weight: 900;
  font-size: 30px;
  padding-top: 20px;
  max-width: 630px;
  margin: 0 auto;
}

.slider__navigation {
  margin-top: 60px;
}

.slider__photo {
  width: 770px;
  height: 460px;
}

.slider .nav {
  color: #fff;
  padding: 25px 30px;
  border: 1px solid #fff;
  max-width: 850px;
  margin: 0 auto;
}

.slider .nav__link {
  text-decoration: none;
  color: #fff;
  margin-right: 30px;
}

.slider .nav__link:last-child {
  margin-right: 0;
}

.slider .nav__link:hover {
  color: #00c2f0;
}

.carousel {
  padding: 80px 0;
}

.carousel__inner {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
}

.carousel .slick-prev,
.carousel .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -150px;
  border: none;
  background: none;
}

.carousel .slick-prev img,
.carousel .slick-next img {
  width: 18px;
  height: 59px;
}

.carousel .slick-next {
  right: -150px;
  left: auto;
}

@media (max-width: 400px) {
  .carousel {
    padding: 0;
  }
}

.score {
  width: 100%;
  min-height: 1300px;
}

.score__title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  color: #000;
  max-width: 380px;
  margin-top: 80px;
}

.score__wrapper {
  color: #fff;
  margin-top: 50px;
}

.score__block {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  max-width: 49%;
}

.score__text {
  position: absolute;
  top: 40%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  color: #fff;
  text-align: center;
  max-width: 260px;
}

.cloud {
  width: 100%;
  height: 580px;
  background: url("../img/cloud/cloud-bg.jpg") center center/cover no-repeat;
}

.cloud__title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 30px;
  max-width: 380px;
  text-align: center;
  color: #fff;
  padding-top: 70px;
}

.cloud__block {
  display: inline-block;
  width: 49%;
  margin-top: 100px;
}

.cloud__text {
  font-weight: 900;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  max-width: 490px;
}

.cloud__wrapper {
  margin-top: 30px;
}

.cloud__desc {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  max-width: 490px;
}

.cloud__block--one {
  text-align: right;
}

.cloud__block--tho {
  display: inline-block;
  width: 49%;
  padding-left: 90px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
