.score {
	width: 100%;
	min-height: 1300px;

	&__title {
		margin: 0 auto;
		font-weight: 900;
		font-size: 30px;
		text-align: center;
		color: #000;
		max-width: 380px;
		margin-top: 80px;

	}

	&__wrapper {
		color: #fff;
		margin-top: 50px;
	}

	&__block {
		margin: 0;
		padding: 0;
		display: inline-block;
		position: relative;
		max-width: 49%;
	}

	&__text {
		position: absolute;
		top: 40%;
		right: 50%;
		transform: translateX(50%);
		color: #fff;
		text-align: center;
		max-width: 260px;
	}
}