@import "_header";
@import "_media";
@import "_intro";
@import "_btn";
@import "_advantage";
@import "_slider";
@import "_carousel";
@import "_score";
@import "_cloud";



.container {
	width: 1140px;
	margin: 0 auto;
}

body {
	font-family: 'Roboto', sans-serif;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}